extends layout.pug

block content
  fieldset#reply
    form( method='POST' action='/reply' )
      input( type='text' name='name' )
      |
      |
      label Guest name?
      br
      input( type='email' autocomplete='email' name='email' )
      |
      |
      label Email address
      p
        label
          input#illbethere( type='radio' name='opts' value='0' )
          |
          |
          span I'll be there!
        br
        label
          input#icantmakeit( type='radio' name='opts' value='1' )
          |
          |
          span I can't make it.
      select( name='number' )
        each i in [ 1, 2, 3, 4, 5, 6, 7, 8 ]
          option= i
      |
      |
      label How many are you bringing?
      br
      button( type='submit' ) Submit
